/* REGOLE GENERALI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

.container{
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}



/* HEADER */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav .logo img{
    max-width: 200px;
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
}

nav .burger{
    display: none;
    cursor: pointer;
}

nav .burger-nav-list-container{
    display: none;
}



#jumbotron{
    background-color: lightblue;
}

#jumbotron .container{
    display: flex;
    justify-content: space-between;
}


#jumbotron .jumbo-text, #jumbotron .jumbo-login{
    height: 350px;
    border: 1px solid black;
}

#jumbotron .jumbo-text{
    width: 50%;
    margin: 40px 0;
}

#jumbotron .jumbo-login{
    width: 40%;
    margin: 40px 0;
}
